.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.form input {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 0;
    padding: 6px 20px;
}

.button {
    border: none;
    background-color: blue;
    color: #fff;
    padding: 10px 26px;
    margin: 5px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}