nav {
    display: flex;
}

nav a{
    padding: 5px 20px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    transition: 0.3s;
}

nav a:hover {
    background-color: #8c7a8c;
    color: #fff;
    transition: 0.3s;
}

nav a.active {
    background-color: #8c7a8c;
    color: #fff;
}